<!doctype html>
<html lang="EN">
<head>
	<title>Gnome Fitness</title>
	<meta charset="utf-8" />
	<link type="text/css" rel="stylesheet" href="/assets/stylesheets/styles.css">
	<script src="site.js"></script>
</head>

<body>
		<% include partials/header.ejs %>
		<% include partials/navigation.ejs %>
	<main>
		<div class="center">
				<h2><%= connection.name %></h2>
				<img class="profile" src="/assets/images/gnome.jpg" alt="Gnome man">
				<p>Hosted by <%= host %></p>
				<p><%= connection.date %></p>
				<p><%= connection.where %></p>
				<h3>Details</h3>
				<p><%= connection.topic %></p>
				<h3>RSVP</h3>
				<% var yes = "savedConnections?connectionID=" + connection.id + "&response=Yes"%> 
				<% var no = "savedConnections?connectionID=" + connection.id + "&response=No"%> 
				<% var maybe = "savedConnections?connectionID=" + connection.id + "&response=Maybe"%> 
				<form action="<%=yes%>" method="POST">
					<input type="submit" value="Yes"></input>
				</form>
				<form action="<%=no%>" method="POST">
					<input type="submit" value="No"></input>
				</form>
				<form action="<%=maybe%>" method="POST">
					<input type="submit" value="Maybe"></input>
				</form>
		</div>
	</main>

	<% include partials/footer.ejs %>

</body>

</html>