<!doctype html>
<html lang="EN">
<head>
	<title>Gnome Fitness - <%= connection.name %> </title>
	<meta charset="utf-8" />
	<link type="text/css" rel="stylesheet" href="/assets/stylesheets/styles.css">
</head>

<body>
		<% include partials/header.ejs %>
		<% include partials/navigation.ejs %>
	<main>
		<div class="center">
				<h2><%= connection.name %></h2>
				<p><small><%= connection.topic %></small></p>
				<img class="profile" src="/assets/images/gnome.jpg" alt="Gnome man">
				<p><strong>Host: </strong><%= host %></p>
				<p><strong>When: </strong><%= connection.date.toDateString() %></p>
				<p><strong>Where: </strong><%= connection.where %></p>
				<p><strong>Details: </strong><%= connection.details %></p>
				
				<h3>RSVP</h3>
				<% var yes = "savedConnections?connectionID=" + connection.id + "&response=Yes"%> 
				<% var no = "savedConnections?connectionID=" + connection.id + "&response=No"%> 
				<% var maybe = "savedConnections?connectionID=" + connection.id + "&response=Maybe"%> 
				<form action="<%=yes%>" method="POST" class="zero">
					<input type="submit" value="Yes" class="inline"></input>
				</form>
				<form action="<%=no%>" method="POST" class="zero">
					<input type="submit" value="No" class="inline"></input>
				</form>
				<form action="<%=maybe%>" method="POST" class="zero">
					<input type="submit" value="Maybe" class="inline"></input>
				</form>
				<% if(typeof user != 'undefined'){ %>
					<% if(parseInt(user.id) == parseInt(connection.host)){ %>
						<h2>Edit</h2>
						<% var hold = "deleteConnection?connectionID=" + connection.id%> 
						<% var edit = "editConnection?connectionID=" + connection.id%> 
						<a href="<%=edit%>">Edit</a>
						<a href="<%=hold%>">Delete</a>
					<% } %>
				<% } %>
				
				<br>
		</div>
	</main>

	<% include partials/footer.ejs %>

</body>

</html>