<!doctype html>
<html lang="EN">

<% include partials/head.ejs %>


<body>
	<% include partials/navigation.ejs %>
	<main>
		<% if(typeof events != 'undefined') {%>
		<div class="content">
			<table class="table table-striped">
				<tr>
					<th>Connection</th>
					<th>Category</th>
					<th>Going</th>
					<th>Modify</th>
				</tr>
				<% events.forEach(function(item){ %>
				<tr>
					<td><%= item.name %></td>
					<td><%= item.category %></td>
					<td><%= item.rsvp %> </td>
					<td>
						<% var link = "/connection?id=" + item.id %>
						<div class="btn-group"><form action="<%=link%>" method="POST">
							<button type="submit" class="btn btn-primary btn-sm">Update</button>
						</form>
						<% var dellink = "/delete?connectionID=" + item.id %>
						<form action="<%=dellink%>" method="POST">
							<button type="submit" class="btn btn-danger btn-sm">Delete</button>
						</form></div>
					</td>
				</tr>
				<% }); %>
			</table>
		</div>
		<%} else {%>
		<h2>You have no saved connections</h2>
		<% } %>
	</main>

	<% include partials/footer.ejs %>

</body>

</html>