<!doctype html>
<html lang="EN">

<head>
	<title>Gnome Fitness</title>
	<meta charset="utf-8" />
	<link type="text/css" rel="stylesheet" href="/assets/stylesheets/styles.css">
	<script src="site.js"></script>
</head>

<body>
		<% include partials/header.ejs %>
		<% include partials/navigation.ejs %>
	<main>
		<% if(typeof events != 'undefined') {%> 
		<table>
			<tr>
				<th>Connection</th>
				<th>Category</th>
				<th>Going</th>
				<th></th>
			</tr>
				<% events.forEach(function(item){ %>
					<tr>
						<td><%= item.name %></td>
						<td><%= item.category %></td>
						<td><%= item.rsvp %> </td>
						<td>
						<% var link = "/connection?id=" + item.id %>
						<form action="<%=link%>" method="Post">
								<button type="submit">Update</button>
						</form>
						<% var dellink = "/delete?connectionID=" + item.id %>
						<form action="<%=dellink%>" method="POST">
								<button type="submit">Delete</button>
						</form>
						</td>
					</tr>
				<% }); %>
		</table>
		<%} else {%>
			<h2>You have no saved connections</h2>
			<% } %>
	</main>

	<% include partials/footer.ejs %>

</body>

</html>