<!doctype html>
<html lang="EN">

	<% include partials/head.ejs %>

<body>
	<% include partials/navigation.ejs %>
	<main>
			<form method="POST" class="content">
					<% include partials/errors.ejs %>
					<div class="form-group">
						<label for="topic">Topic</label>
						<input class="form-control" type="text" name="topic" id="topic" value="<%=connection.topic%>"/>
					</div>
					<div class="form-group">
						<label for="name">Name</label>
						<input class="form-control" type="text" name="name" id="name" value="<%=connection.name%>"/>
					</div>
					<div class="form-group">
						<label for="category">Category</label>
						<input class="form-control" type="text" name="category" id="category" value="<%=connection.category%>"/>
					</div>
					<div class="form-group">
							<label for="details">Details</label>
							<input class="form-control" type="text" name="details" id="details" value="<%=connection.details%>">
					</div>
					<div class="form-group">
						<label for="where">Where</label>
						<input class="form-control" type="text" name="where" id="where" value="<%=connection.where%>"/>
					</div>
					<div class="form-group">
						<label for="when">Date</label>
						<input class="form-control" type="date" name="when" id="when"%>/>
					</div>
					<input type="submit" value="Save Connection" class="btn btn-primary"/>
				</form>
	</main>

	<% include partials/footer.ejs %>

</body>

</html>